@import '@assets/styles/abstracts';

.auth-container {
  background: linear-gradient(146deg, #fff 23.94%, #cce4ff 121.65%);
  min-height: 100vh;
  height: 100%;

  .auth_header {
    @include flexbox(row, space-between, center);
    height: 111px;
    padding: 10px 32px;
  }

  .auth_sections {
    height: 60vh;
    @include flexbox(row, center, center);
    padding: 10px 30px;
    gap: 40px;

    .auth_first_section {
      width: 50%;
      @include flexbox(column, start, unset);

      .auth-form-greeting {
        margin-bottom: 30px;
        @include flexbox(column, center, center);

        p {
          font-size: 30px;
        }

        span {
          font-size: 13px;
        }
      }

      .auth_submit_button {
        margin: 30px 0px 10px 0px;
      }
    }
  }
}
