@import '@assets/styles/abstracts';


.image-Leagues {
    object-fit: fill;
}

.container-Leagues {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100svw;
    width: 100svh;
}