.ant-select-selection-item {
  background-color: #fff !important;
}
.modal-field {
  .ant-select-selector {
    margin-top: 5px;
    height: 59.9px;
  }
  .error-message {
    margin-top: 11px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 0, 0, 0.863);
    padding-left: 10px;
  }
  .ant-select-selector {
    margin-top: 5px;
    height: 59.9px;
  }
}
