@import '@assets/styles/abstracts';

.container-map {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100svw;
    width: 100svh;
}

.image-map {
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}