@import '@assets/styles/abstracts';

.container-map {
    overflow: hidden;
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.start-img {
    position: absolute;
    bottom: 7rem;
    right: 30rem;

    &:hover {
        cursor: pointer;
        scale: 105%;
    }
}

.image-map {
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}