$light: #fff;

$primary: #fb6428;
$primary-950: #fc8353;
$primary-900: #fda27e;
$primary-800: #fdc1a9;
$primary-700: #fee0d4;
$primary-600: #fff0ea;
$primary-500: #fff7f4;

$secondary: #0078ff;

$secondary-950: #3393ff;
$secondary-930: #528bcc;
$secondary-900: #66aeff;
$secondary-800: #99c9ff;
$secondary-700: #cce4ff;
$secondary-600: #e6f2ff;
$secondary-500: #f2f8ff;

$gray-primary: #5c646d;
$gray-950: #7d838a;
$gray-900: #9da2a7;
$gray-800: #bec1c5;
$gray-700: #dee0e2;
$gray-600: #eff0f1;
$gray-500: #f6f6f6;
$gray-400: #e1e5f3;
$gray-300: #ddf4e7;
$gray-200: #f6fcf9;
$gray-100: #ccd7e0;

$text-color: #525961;

$info: #1cc3eb;
$info-50: #ecfdff;
$info-100: #d0f7fd;
$info-200: #a6edfb;
$info-300: #69def7;
$info-400: #1cc3eb;
$info-500: #08a8d2;
$info-600: #0a86b0;
$info-700: #0f6b8f;
$info-800: #165774;
$info-900: #174962;
$info-950: #092f43;

$success: #4caf50;
$success-50: #f3faf3;
$success-100: #e3f5e3;
$success-200: #c8eac9;
$success-300: #9dd89f;
$success-400: #6bbd6e;
$success-500: #4caf50;
$success-550: #54c789;
$success-600: #358438;
$success-700: #2d6830;
$success-800: #275429;
$success-900: #224525;
$success-950: #0e2510;

$danger: #f44336;
$danger-50: #fef3f2;
$danger-100: #ffe3e1;
$danger-200: #ffccc8;
$danger-300: #ffa8a2;
$danger-400: #fc776d;
$danger-500: #f44336;
$danger-600: #e22d20;
$danger-650: #e51414;
$danger-700: #be2217;
$danger-800: #9d2017;
$danger-900: #82211a;
$danger-950: #470c08;

$warning: #ffc008;
$warning-50: #fffeea;
$warning-100: #fffbc5;
$warning-200: #fff785;
$warning-300: #ffed46;
$warning-400: #ffde1b;
$warning-500: #ffc008;
$warning-600: #e29200;
$warning-700: #bb6802;
$warning-800: #985008;
$warning-900: #7c410b;
$warning-950: #482100;

$dark: #131f3c;
$dark-50: #edf8ff;
$dark-100: #def2ff;
$dark-200: #c4e5ff;
$dark-300: #a1d2ff;
$dark-400: #7bb6fe;
$dark-500: #5c96f8;
$dark-600: #3e72ed;
$dark-700: #305dd2;
$dark-800: #2a4fa9;
$dark-900: #2a4785;
$dark-950: #131f3c;

$gray-light-200: #a4b1bd;
$gray-light-300: #d6e1eb;
$gray-light-400: #8a96a4;
$gray-ligght-500: #c3cdd6;
$gray-light-600: #6b7885;
$gray-light-700: #8a96a499;
