.popup-title-table-field {
  color: rgba(28, 28, 38, 0.85);
  font-weight: 500;
  font-size: 13px;
}
.popup-title-table-field-untitled {
  color: rgba(28, 28, 38, 0.85);
  font-weight: 500;
  font-size: 15px;
}
