@import '@assets/styles/abstracts';

.billing_card_list {
  width: 100%;
  border-bottom: 1px solid #e8e8e9;
  background: #ffff;
  padding: 7px;
  @include flexbox(row, space-between, center);
  gap: 15px;

  .client_name {
    min-width: 110px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
  }
  .progress_bar {
    width: 140px;
  }
  .client_country {
    min-width: 100px;
    color: #0000006f;
    text-transform: capitalize;
  }

  .three_dots_triger {
    display: block;
    cursor: pointer;
    @include flexbox(row, center, center);
    border: 2px solid #e8e8e9;
    border-radius: 50%;
    padding: 4px;
  }

  .progress_value {
    @include flexbox(row, space-between, start);
    gap: 5px;
    p {
      @include flexbox(row, space-between, center);
      gap: 4px;

      span {
        text-transform: capitalize;
        color: #333;
      }
    }

    span {
      font-weight: 500;
    }
  }

  .client_billing_amount {
    font-weight: 500;
    border-radius: 12px;
    padding: 4px 8px;
  }

  .client_avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.billing_card_list_1 {
  .client_billing_amount {
    color: #f79007;
    background-color: #fffcf5;
  }

  .progress_bar {
    .ant-progress-inner {
      background-color: #fffcf5;

      .ant-progress-bg {
        background: #f79007;
      }
    }
  }
}

.billing_card_list_2 {
  .client_billing_amount {
    color: #7a5bf9;
    background-color: #fafaff;
  }

  .progress_bar {
    .ant-progress-inner {
      background-color: #fafaff;

      .ant-progress-bg {
        background: #7a5bf9;
      }
    }
  }
}

.billing_card_list_3 {
  .client_billing_amount {
    color: #0eb869;
    background-color: #d1fae6;
  }

  .progress_bar {
    .ant-progress-inner {
      background-color: #d1fae6;

      .ant-progress-bg {
        background: #0eb869;
      }
    }
  }
}

.billing_card_list_4 {
  .client_billing_amount {
    color: #000;
    background-color: #ffff;
  }

  .progress_bar {
    .ant-progress-inner {
      background-color: green;
    }
  }
}

.billing_card_list_5 {
  .client_billing_amount {
    color: #000;
    background-color: #ffff;
  }

  .progress_bar {
    .ant-progress-inner {
      background-color: green;
    }
  }
}
